<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Style.css">

</head>
<body class="logreg">
    <div class="container mt-5">
        <h1 class="text-center">Get Started!</h1>
        <p class="text-center"><i>Smart shopping starts right here.</i></p>
        <form action="/auth/register" method="POST">
            <div class="mb-3">
            <input type="text" class="form-control" id="nama" name="nama" placeholder="Nama" required>
            </div>
            <div class="mb-3">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username"required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="mb-3">
            <input type="text" class="form-control" id="alamat" name="alamat" placeholder="Alamat" required>
            </div>
            <button type="submit" class="btn btn-logreg form-control-lg">Register</button>
            <p class="text-center">
            Already have account? <a href="/auth/login">Login</a>
            </p>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>